<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <h1>Setup Instructions:</h1>
      <h5>In order to view and interact with these tests, you will have:</h5>
      <ul>
        <li>Clone the repo locally using the following command in your terminal:</li>
        <li>git clone https://github.com/LorenzoXavier/RSpec-examples.git</li>
        <li>You must then CD into the saved location</li>
        <li>You can then run the commands as outlined in each of the indivdual examples below</li>
      </ul>
      <hr>
    </div>
  </div>
  <div class="row">
    <% @tiles.each do |tile| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            <%= tile.title %>
          </div>
          <div class="card-body">
            <p>Description: <%= tile.body %></p>
            <p>Model link: <%= link_to "click to view model on github", tile.model_link, target: :_blank %></p>
            <p>Spec link: <%= link_to "click to view spec on github", tile.spec_link, target: :_blank %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
